@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");

body {
  background-color: black;
  color: #fff;
  font-family: "Andada Pro", serif;
  margin: 0;
  padding: 0;
}

#section-1 {
  height: 100vh;
}

.img {
  height: 100vh;
  background: url("2qx4YU.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* =================================================================== */
